<h1>My Contacts</h1>
<br />

<h3>Add a new contact</h3>
<form action='/post' method='post'>
  <label for='name'>Name:</label>
  <input id='name' name='name' type='text'>
  <br />
  <label for='home'>Home #:</label>
  <input id='home' name='home' type='text'>
  <br />
  <label for='cell'>Cell #:</label>
  <input id='cell' name='cell' type='text'>
  <br />
  <button type='submit' class='btn btn-primary'>Add to contacts</button>
</form>
<br />

<h3>Search my contacts</h3>
<form action='/results' method='get'>
  <label for='search_term'>Search for:</label>
  <input id='search_term' name='search_term' type='text' required='required'>
  <button type='submit' class='btn btn-success'>Search</button>
</form>
<br />

<h2>My Contact List</h2>
<ol>
  <% @contact_list.each() do |contact_obj| %>
    <li><a href='/info/<%= contact_obj.id() %>'><%= contact_obj.name() %></a></li>
  <% end %>
</ol>
<br />

<form action'/delete_all' method='post'>
  <button type='submit' class='btn btn-danger'>DELETE ALL CONTACTS</button>
</form>
